html body{
  background: black;
  cursor:url(cubeB.png),auto;
}
a{
  text-decoration: none;
  color:#605052;
}
a:hover{
/* cursor:url(arrowg2.png),auto; */
/* color: #ddcfb0; */
color: white;
opacity: .65;
}
ul {
  font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    /* float:left; */
    text-align: center;
    outline: 1px solid white;

}
header{
    opacity: .65;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  color: #605052;
}
header:hover{
  opacity: 1;
  /* cursor:url(PaintCanComplete.png),auto; */
}
p{
  color:   color:#605052;
  font-size: 1em;
}
img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;
    }

    img:hover {
      image-orientation:
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.5);
        cursor:url(cube.png),auto;
    }
h2{
  text-align: center;
color:#605052;
  /* font-family: 'Libre Barcode 39 Text', cursive; */
  font-size: 3em;
  /* outline: 1px solid white; */
  /* padding-top:4%; */
  /* padding-bottom: 6%; */
  /* margin:0; */
  /* padding-left: 2%; */
  /* padding-right: 2%; */
  display: block;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
}
