html body{
  background: black;
  cursor:url(cubeB.png),auto;
}
a{
  text-decoration: none;
  color:#605052;
}
a:hover{
/* cursor:url(arrowg2.png),auto; */
}
.first{
  text-align: center;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 7em;
  outline: 1px solid white;
  padding-top:2%;
  padding-bottom: 2%;
  /* margin:0; */
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  /* text-shadow: 2px 2px 0px white; //adds a cool outline on the text*/
}
.second{
  text-align: center;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 7em;
  outline: 1px solid white;
  padding-top:1%;
  padding-bottom: 1%;

}
.third{
  text-align: center;
  /* font-family: 'Permanent Marker', cursive;  font-size: 5em; */
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 7em;
}
.fourth{
  text-align: center;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 7em;

}
.fifth{
  text-align: center;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 7em;

}
